<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../bootstrap-3.3.7-dist/css/example.css" rel="stylesheet" type='text/css' />
    <link href='../bootstrap-3.3.7-dist/css/dragula.min.css' rel='stylesheet' type='text/css' />
    <link href='../bootstrap-3.3.7-dist/css/order.css' rel='stylesheet' type='text/css' />
    <script src="../bootstrap-3.3.7-dist/js/vue.js"></script>
    <title>调酒排序</title>
</head>
<body>
    <div id="app">
        <div><h3>将左边容器的图片拖到右边九宫格</h3></div>
        <div class='wrapper'>           
            <div id='left-defaults' style="width: 200px;height: 360px;overflow: auto;border: 1px solid;float: left;">
                <div v-for="p in wineList" class="img">
                    <img :src='"../pics/酒具和调酒/调酒顺序图片/"+ p +".png"' :data="p[0]" width="200">
                </div>
            </div>
            <div style="height:350px;width:700px;float: left;">
                <table style="margin: 0 auto;">
                    <tr>
                        <td id="tdd1" data="1"></td>
                        <td id="tdd2" data="2"></td>
                        <td id="tdd3" data="3"></td>
                    </tr>
                    <tr>
                        <td id="tdd4" data="4"></td>
                        <td id="tdd5" data="5"></td>
                        <td id="tdd6" data="6"></td>
                    </tr>
                    <tr>
                        <td id="tdd7" data="7"></td>
                        <td id="tdd8" data="8"></td>
                        <td id="tdd9" data="9"></td>
                    </tr>     
                    <tr>
                        <td colspan="3" style="height: 40px;text-align: center;" id="info"></td>
                    </tr>                                   
                </table>
            </div>             
        </div>
        <p>步骤如下：</p>
        <p>
        <span>1.准备物品</span>
        <span>2.冰杯</span>
        <span>3.摇壶加冰</span>
        <span>4.示瓶</span>
        <span>5.量辅料</span>        
        </p>
        <p>
        <span>6.量主酒</span>
        <span>7.摇壶</span>
        <span>8.出酒水</span>
        <span>9.装饰</span>
        </p>
        <a href="../index.html">返回主页</a>
    </div>

    <script>
        function aurl(dir,imgName){
            tmp = picType || '.jpg'
            return "../"+dir+"/"+ imgName + tmp
        }

        wineList = ["1准备物品","2冰杯","3摇壶加冰","4示瓶","5量辅料","6量主酒","7摇壶","8出酒水","9装饰"]
        // 洗牌算法
        if (!Array.prototype.derangedArray) {
            Array.prototype.derangedArray = function() {
                for(var j, x, i = this.length; i; j = parseInt(Math.random() * i), x = this[--i], this[i] = this[j], this[j] = x);
                return this;
            };
        }
        // 乱序
        wineList = [...wineList].derangedArray()         
        new Vue({
            el: '#app',
            data:function(){
                return{
                    wineList: wineList
                }
            }
        })
    </script>
    
    <script src='../bootstrap-3.3.7-dist/js/dragula.min.js'></script>
    <script>
        var d = dragula([$('left-defaults'),$('tdd1'),$('tdd2'),$('tdd3'),$('tdd4'),$('tdd5'),$('tdd6'),$('tdd7'),$('tdd8'),$('tdd9')],{
            direction: 'horizontal',
            revertOnSpill: true,
            // copy: function (el, source) {
            //     return source === $('left-defaults')
            // },
            accepts: function (el, target) {
                var info = document.getElementById("info")
                if(target===$('left-defaults')){
                    return true
                }
                var container_id = target.getAttribute('data')
                var img = el.getElementsByTagName("img")
                var img_id = img[0].getAttribute('data')
                if(container_id==img_id){
                    info.innerHTML = '<span style="color:green;">步骤 '+container_id+' 的图片匹配正确</span>'
                    return true
                }else{
                    info.innerHTML = '<span style="color:red;">步骤 '+container_id+' 的图片匹配错误</span>'
                    return false
                } 
            }            
        });    

        d.on('dragend',function(el){
            var tb = document.getElementsByTagName("table")[0]
            imgs = tb.getElementsByTagName("img")
            var order = ''
            for(i=0;i<imgs.length;i++){
                order += imgs[i].getAttribute('data')
            }

            if(order == '123456789'){
                alert("恭喜通关！")
            }
        })
        function $ (id) {
            return document.getElementById(id);
        }
    </script>
</body>
</html>