<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../bootstrap-3.3.7-dist/css/demo.css" type="text/css" rel="stylesheet">
    <script src="../bootstrap-3.3.7-dist/js/jquery-3.4.1.min.js"></script>
    <script src="../bootstrap-3.3.7-dist/js/Tdrag.min.js"></script>
    <title>Document</title>
</head>
<style>

</style>
<body>
    <input class="plug_random" type="button" value="通过插件随机">
    <input class="fn_random" type="button" value="通过函数随机">
    <div class="boxList">
        <div class="one div11">1</div>
        <div class="one div11">2</div>
        <div class="one div11">3</div>
        <div class="one div11"></div>
        <div class="one div11"></div>
        <div class="one div11"></div>
        <div class="one div11"></div>
        <div class="one div11"></div>
        <div class="one div11"></div>
        <div class="one div11"></div>
        <div class="one div11"></div>
        <div class="one div11"></div>
        <div class="one div11"></div>
        <div class="one div11"></div>
        <div class="one div11"></div>
    </div>  
</body>
<script>
$(function(){
    $(".div11").Tdrag({
        scope:".boxList",
        pos:true,
        dragChange:true,
        random:true,
        randomInput:".plug_random"
    });
    $(".fn_random").on("click",function(){
        $.randomfn(".div11")
    })   
})
</script>
</html>